## Collection Type:
1. list
2. Tuples
3. Dictionary

In [5]:
#list->indexed,ordered,mutable,allows duplicate values
list1 = [25,9,32,10,19.99,"abc",True]
#adding elements
list1.append(45.6)
list1.append(100)
print(list1)
list1.insert(3,200)
list1.extend([300,150,50])
print(list1)

[25, 9, 32, 10, 19.99, 'abc', True, 45.6, 100]
[25, 9, 32, 200, 10, 19.99, 'abc', True, 45.6, 100, 300, 150, 50]

In [15]:
#Removing elements--->pop(),remove()
del list1[-1]
print(list1)
list1.extend([9,32,200,10,19.99,"abc",45.6])
r = list1.pop()
print(list1,r)

[]
[9, 32, 200, 10, 19.99, 'abc'] 45.6

In [21]:
#remove
list1.remove(10)
print(list1)

[9, 200, 19.99, 'abc']

In [24]:
list1.extend([10,True,45.6,30])
print(list1)

[9, 200, 19.99, 'abc', 10, True, 45.6, 30, 10, True, 45.6, 30]

In [25]:
list1.reverse()
list1

[30, 45.6, True, 10, 30, 45.6, True, 10, 'abc', 19.99, 200, 9]

In [26]:
list1.sort(reverse = True)
list1

TypeError: '<' not supported between instances of 'str' and 'float'

In [28]:
list1.index(45.6)

1

In [31]:
list2 = list1
print(list2)

[30, 45.6, True, 10, 30, 45.6, True, 10, 'abc', 200, 19.99, 9]

In [32]:
list3 = list2.copy()
list3

[30, 45.6, True, 10, 30, 45.6, True, 10, 'abc', 200, 19.99, 9]

In [33]:
list1.append(11)
list2.append(22)
print(list1,list2,list3)

[30, 45.6, True, 10, 30, 45.6, True, 10, 'abc', 200, 19.99, 9, 11, 22] [30, 45.6, True, 10, 30, 45.6, True, 10, 'abc', 200, 19.99, 9, 11, 22] [30, 45.6, True, 10, 30, 45.6, True, 10, 'abc', 200, 19.99, 9]

In [34]:
list1.count(30)

2

In [38]:
#Accept three subjects marks of the students at the runtime and store values in the list ,return total marks of subject
n = int(input("enter no.of subjects"))
marks = []
for i in range(n):
    marks.append(int(input()))
print("sum",sum(marks))

enter no.of subjects5
30
20
25
26
19
sum 120

In [41]:
n = int(input("enter no.of subjects"))
marks = []
for i in range(n):
    marks.append(int(input()))
print("largest elemnt",max(marks))

enter no.of subjects3
15
56
54
largest elemnt 56

In [42]:
#tuple -->indexed,ordered,allows duplicate values, immutable
#use()
t1 = (23,34,45,67)
l1 = list(t1)
l1[2] = 100
t1 = tuple(l1)
t1

(23, 34, 100, 67)

In [45]:
#dict1 = {key1:value1,key2:value2,.....}
#rue sfor keys : 
#1.keys should be unique 
#2. keys should be immutable(numbrs,strings,tuple)
s1 = {"name":"pranathi","roll number":12,"course":"cse"}
#Adding new entry
s1["address"] = "hyd"
s1

{'name': 'pranathi', 'roll number': 12, 'course': 'cse', 'address': 'hyd'}

In [46]:
del s1["course"]
s1

{'name': 'pranathi', 'roll number': 12, 'address': 'hyd'}

In [47]:
#update dictionary
s1["address"] = "bangalore"
s1

{'name': 'pranathi', 'roll number': 12, 'address': 'bangalore'}